.clear-img {
    width: 200px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.clear-img:hover {
    background-color: rgb(247, 35, 35);
    color: white;
}

@media (max-width: 600px) {
    .clear-img {
        width: 100%;
        font-size: 16px;
        padding: 15px;
    }
}

.drag-area {
    border: 1px dashed black;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}


.drag-area .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.drag-area .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.drag-area .m-5 {
    text-align: center;
    padding-top: 50px;
    color: #555;
}

.drag-area .m-5 img {
    max-width: 100px;
    max-height: 100px;
}

.drag-area .drag_text {
    font-size: 10px;
    margin-top: 10px;
}

.drag-area .choose_file a {
    color: #007bff;
    text-decoration: none;
}

.choose_file {
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
}

.choose_file>a {
    text-decoration: underline;
    color: black;
}

.upload_hide {
    display: none;
}

.upload_label {
    line-height: 10px !important;
    margin-bottom: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.image:hover .overlay {
    display: block;
}

.choose_file {
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
}

.choose_file>a {
    text-decoration: underline;
    color: black;
}