<div class=" container-fluid">
  <div class="col">
    <div class="card ">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <div class="container" style="border: 1px solid #6A6B6C33; padding: 10px 0px 10px 0px;">
          <form [formGroup]="lobForm" class="p-2">
            <div class="form-group">
              <label for="lobName">Line of Business name</label>
              <input type="text" class="w-100" class="form-control" id="lobName" formControlName="lobName"
                [ngClass]="{'is-invalid': lobForm.get('lobName').invalid && (lobForm.get('lobName').dirty || lobForm.get('lobName').touched)}">
              <div
                *ngIf="lobForm.get('lobName').invalid && (lobForm.get('lobName').dirty || lobForm.get('lobName').touched) && !lobForm.get('lobName').hasError('pattern')"
                class="invalid-feedback">
                <i class="fa fa-exclamation-circle"></i> Line of Business Name is required
              </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <label for="lobDesc">Full Description</label>
              <p>110/250</p>
            </div>
            <div class="editor" style="overflow-y: scroll;">
              <quill-editor formControlName="lobDesc"></quill-editor>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Image</h5>
          <form [formGroup]="lobForm" style="width: 200px;margin: auto">
            <div class=" text-center">
              <div class="drag-area">
                <input (change)="convertToBa($event)" type="file" class="upload_hi" id="upload_costumss">
                <label for="upload_costumss" class="upload_label">
                  <div class="image">
                    <img class="w-100" style="height: 200px;" [src]="base64String" *ngIf="base64String ">
                  </div>
                  <div *ngIf="imgInputclose" class="m-5">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg" alt="">
                    <p class="drag_text">Drop your image </p>
                    <p class="choose_file ">or <a>Click to browse</a> </p>
                  </div>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Vendor Details</h5>
          <div class="container" style="border: 1px solid #6A6B6C33; padding: 10px 0px 10px 0px;">
            <form [formGroup]="lobForm" class="p-2">
              <div class="form-group">
                <label for="vendors">Vendor Name</label>
                <select class="w-100 form-control" id="vendorId" formControlName="vendorId"
                  [ngClass]="{'is-invalid': lobForm.get('vendorId').invalid && (lobForm.get('vendorId').dirty || lobForm.get('vendorId').touched)}"
                  style="border: 1px solid #6A6B6C33;">
                  <option value="">Select Vendor</option>
                  <option *ngFor="let vendor of vendorNames" [value]="vendor.vendorId">{{ vendor.vendorName }}</option>
                </select>
                <div
                  *ngIf="lobForm.get('vendorId').invalid && (lobForm.get('vendorId').dirty || lobForm.get('vendorId').touched) && !lobForm.get('vendorId').hasError('pattern')"
                  class="invalid-feedback">
                  <i class="fa fa-exclamation-circle"></i> Vendor Name is required
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <form [formGroup]="lobForm">
            <label class="radio-inline mr-3">
              <input type="checkbox" formControlName="isPublished" (change)="togglePublished($event)"> isPublished
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card rounded-0">
      <div class="card-body " style="padding-bottom: 10px; display: flex;
      flex-direction: column;
      position: relative;">
        <div class="d-flex justify-content-between" style="margin-top: auto;
        margin-left: auto;">
          <div class="btn-box">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary"
              *ngIf="action !== 'view' && action !== 'edit' && publishbtn==false">Add Line of Business</button>
            <button type="submit" (click)="changeViewtoEdit()" class="btn btn-edit" *ngIf="action=='view'">Edit
            </button>
            <button type="submit" (click)="update()" style="width: 125px;" class="btn btn-primary"
              *ngIf="action=='edit'&& publishbtn==false">Update </button>
            <button class="btn btn-secondary btn-dis" [routerLink]="['/category']"
              style="width: 125px; margin-left: 20px;">Discard </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>