label {
    font-weight: 500;
    size: 20px;
    line-height: 30px;
}

.upload_label {
    line-height: 10px;
    margin-bottom: 0px
}

path {
    color: #8B8B8B;
}

.choose_file {
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
}

.drag_text {
    font-size: 12px;
    margin-top: 16px;
    color: #8B8B8B;
}

.choose_file>a {
    text-decoration: underline;
    color: black;
}

.upload_hi {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.drag-area {
    border: 1px dotted black;
    border-radius: 5px
}

.choose_file {
    pointer-events: none;
}

image>img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
}

@media only screen and (max-width: 420px) {

    .btn-box {
        margin-left: 20px;
    }

    .btn-dis {
        margin-left: 0px !important;
        margin-top: 5px;
    }
}

svg {
    opacity: 0.1;
    height: 100px;
}

.editor {
    height: 322px;
}