<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<div class="dropdown input-group">
  <span class="input-group-text dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
    (focus)="showTimePicker()" (blur)="hideTimePicker()">
    <i class="bi bi-clock"></i>
  </span>
  <input type="text" class="time-field form-control" [value]="formattedTime"
    [class.custom-input-invalid]="isInputFieldInvalid" (input)="onTimeInputChange($event)" [readOnly]="true"
    placeholder="hh:mm" />
  <ul class="dropdown-menu"
    style="padding: 10px; min-width: 200px; max-width: 300px; max-height: 200px; overflow-y: auto;">
    <li class="dropdown-item" style="padding: 0; margin: 0;" (click)="$event.stopPropagation()">
      <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" [spinners]="false" [seconds]="false" [size]="'small'"
        (ngModelChange)="onTimepickerChange($event)" [disabled]="isViewMode"></ngb-timepicker>
    </li>
  </ul>
</div>