.modal-header {
    background-color: #D7181F;
    height: 75px;
    width: 450px;
    padding: 10px;
}

#exampleModalLongTitle {
    color: #FFFFFF;
}

.modal-body {
    background-color: #FFFFFF;
}

.dailog-header {
    padding: 0px;
    border-radius: 5px;
    padding-bottom: 50px;
    overflow: hidden;

}

.overall {
    border-radius: 25px;
}

.accordion {
    --bs-accordion-bg: none;
}

.accordion-button::after {
    margin: auto !important;
}

.accordion-body {
    overflow: auto;
    max-height: 120px;
    width: 318px;
    padding: 0px;
    border-radius: 5px;
    background-color: #E47B0014;
}

::-webkit-scrollbar {
    width: 10px !important;
}