.modal-header .close {
    margin: -1rem -0.5rem -1rem auto;
}

.upload_label {
    line-height: 8px !important;
    margin-bottom: 0px !important;
}

.upload_hide {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.drag-area {
    border: 1px dashed black;
    border-radius: 5px;
    height: 171px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.drag-area .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 171px;
    width: 300px;
}

.drag-area .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.drag-area .m-5 {
    text-align: center;
    padding-top: 0px;
    color: #555;
}

.drag-area .m-5 img {
    max-width: 30px;
    max-height: 30px;
}

.drag-area .drag_text {
    font-size: 10px;
    margin-top: 10px;
}

.drag-area .choose_file a {
    color: #007bff;
    text-decoration: none;
}

.upload_hide {
    display: none;
}

.choose_file {
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
}

.choose_file>a {
    text-decoration: underline;
    color: black;
}
.is-invalid {
    border: 1px solid #dc3545ed;
}
.active-button {
    background-color: #D7181F !important;
    color: white;
    font-weight: 100;
}
 
.active-icon {
    color: #D7181F;
}