<div class="container-fluid p-3 col-Mobilepadding">
  <form [formGroup]="addProduct">
    <div class="">
      <div class="card pl-4 pr-4 pb-3 pt-4">
        <h5 class="card-title pb-2">Description</h5>
        <div class="card-body border">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-label">Solutions Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="productName" (blur)="onBlur()" formControlName="productName"
                  [ngClass]="{'is-invalid': addProduct.get('productName').invalid && (addProduct.get('productName').dirty || addProduct.get('productName').touched)}">
                <div
                  *ngIf="addProduct.get('productName').invalid && (addProduct.get('productName').dirty || addProduct.get('productName').touched)"
                  class="invalid-feedback">
                  <i class="fa fa-exclamation-circle"></i>
                  <ng-container *ngIf="addProduct.get('productName').hasError('required')">
                    Solutions Name is required
                  </ng-container>
                  <ng-container *ngIf="addProduct.get('productName').hasError('maxlength')">
                    Solutions Name cannot exceed 100 characters
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div class="justify-content-between col-lg-6 col moiblePad">
                  <label class="font-weight-bold">Short Description <span class="text-danger">*</span></label>
                  <textarea class="form-control productShortDesc" formControlName="productShortDesc" required rows="4"
                    style="width:33rem;height: auto;"
                    [class.is-invalid]="addProduct.get('productShortDesc')?.invalid && (addProduct.get('productShortDesc')?.dirty || addProduct.get('productShortDesc')?.touched)"></textarea>
                  <div
                    *ngIf="addProduct.get('productShortDesc')?.invalid && (addProduct.get('productShortDesc')?.dirty || addProduct.get('productShortDesc')?.touched)"
                    class="invalid-feedback">
                    <div *ngIf="addProduct.get('productShortDesc')?.errors?.['required']">
                      Short Description is required
                    </div>
                    <div *ngIf="addProduct.get('productShortDesc')?.errors?.['maxlength']" style="width: 262px;">
                      Short Description cannot exceed 250 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <label>Solutions Full Description</label>
          <app-custom-editor [initialData]="customEditorsDTOs" [receiveData]="customEditorsDTOs.value"
            [isEditorDataLoad]="isEditorDataLoad" [isView]="isView"
            (formDataChanged)="handleFormDataChanged($event)"></app-custom-editor>
        </div>
      </div>
    </div>
    <div class="">
      <div class="d-flex justify-content-between mobileflex">
        <div class="col col-lg-6 p-0">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="vendorId" class="mt-3">Partner Name</label><span class="text-danger">*</span>
                <select class="w-100 form-control" id="vendorId" formControlName="vendorId"
                  [ngClass]="{'is-invalid': addProduct.get('vendorId').invalid && (addProduct.get('vendorId').dirty || addProduct.get('vendorId').touched)}"
                  style="border: 1px solid #6A6B6C33;">
                  <option value="" selected disabled>Select </option>
                  <option *ngFor="let VendorName of VendorNames" [value]="VendorName.vendorId">{{ VendorName.vendorName
                    }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title mt-4">Solutions Details</h5>
              <div class="container mt-4 mobilePaddingset"
                style="border: 1px solid #6A6B6C33; padding: 10px -2px 10px 0px !important;">
                <div class="form-group">
                  <label for="productCode" class="mt-3">Solutions Code <span class="text-danger">*</span></label>
                  <input type="text" pattern="[a-zA-Z0-9]+" class="form-control" id="productCode"
                    formControlName="productCode"
                    [ngClass]="{'is-invalid': addProduct.get('productCode').invalid && (addProduct.get('productCode').dirty || addProduct.get('productCode').touched)}">
                  <div
                    *ngIf="addProduct.get('productCode').hasError('pattern') && (addProduct.get('productCode').dirty || addProduct.get('productCode').touched)"
                    class="invalid-feedback">
                    <i class="fa fa-exclamation-circle"></i> Please enter a valid Solutions code with only letters and
                    numbers.
                  </div>
                </div>
                <div class="form-group">
                  <label for="categoryId" class="mt-3">Solutions Category <span class="text-danger">*</span></label>
                  <select class="w-100 form-control dropdown-solution-cateory" id="categoryId"
                    formControlName="categoryId"
                    [ngClass]="{'is-invalid': addProduct.get('categoryId').invalid && (addProduct.get('categoryId').dirty || addProduct.get('categoryId').touched)}">
                    <option *ngFor="let category of categories" [value]="category.categoryId"
                      [selected]="category.categoryId == serviceOrTechnologyId">
                      {{category.categoryName}}
                    </option>
                  </select>
                  <div
                    *ngIf="addProduct.get('categoryId').invalid && (addProduct.get('categoryId').dirty || addProduct.get('categoryId').touched)"
                    class="invalid-feedback">
                    <i class="fa fa-exclamation-circle"></i> Please select a Solutions Category
                  </div>
                </div>
                <label for="fullDescription" class="mt-3">Solutions Type <span class="text-danger">*</span></label>
                <div class="row mt-1">
                  <div class="col-md-6">
                    <label class="radio-inline mr-3">
                      <input type="radio" formControlName="productType" value="product" class="product-radio"> Product
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" formControlName="productType" class="product-radio" value="service"> Service
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-6 p-0 mx-3">
          <div class="card p-2">
            <h5 class="card-title pb-2">Solutions Image <span class="text-danger">*</span></h5>
            <div class="card-body">
              <div class="cover-img-div">
                <div class="d-flex justify-content-center">
                  <div class="drag-area" [class.is-invalid]="isInValidField('productImage')">
                    <input (change)="fileChangeEvent($event)" #fileInput type="file" class="upload_hide"
                      id="upload_coverImg" formControlName="productImage" [disabled]="isView">
                    <label for="upload_coverImg" class="upload_label">
                      <div class="image" [ngClass]="{'placeholder-content': !coverImg}">
                        <img class="cover-image" [class.img-disable]="isView" [src]="coverImg" *ngIf="coverImg"
                          alt="Selected Cover Image" style="height: 138px; width: 240px;">
                        <div class="overlay" *ngIf="coverImg"></div>
                        <div *ngIf="!coverImg" class="m-5">
                          <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                            alt="Placeholder Image">
                          <p class="choose_file"><a><br><b>Click to browse</b></a></p>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #cropperModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Crop Image</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="cropper-container">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                  [aspectRatio]="240/ 138" format="png" (imageCropped)="onImageCropped($event)"
                  (cropperReady)="onCropperReady()" (loadImageFailed)="onLoadImageFailed()">
                </image-cropper>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="confirmCrop(modal)">Crop & Save</button>
            </div>
          </ng-template>
          <div class="card">
            <div class="card-body p-2">
              <h5>Keyword Details</h5>
              <div class="container" style="border: 1px solid #6A6B6C33;padding: 10px;">
                <label>Keywords <span class="text-danger">*</span></label>
                <ng-select [items]="tags" bindLabel="productTagName" [addTag]="addCustomTag" [multiple]="true"
                  placeholder="Select tag or add custom tag" formControlName="productTags"
                  [ngClass]="{'is-invalid': addProduct.get('productTags').invalid && (addProduct.get('productTags').dirty || addProduct.get('productTags').touched)}">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="card" style="padding: 3px;">
            <div class="card-body p-2">
              <label class="radio-inline mr-3">
                <input type="checkbox" formControlName="isPublished" (change)="togglePublished($event)"> Is Published
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card rounded-0">
                <div class="card-body d-flex flex-column position-relative">
                  <div class="d-flex justify-content-between mt-auto ml-auto">
                    <div class="btn-group">
                      <button type="submit" (click)="onSubmit()" class="submit-btn"
                        *ngIf="action !== 'view' && action !== 'edit' && !publishbtn" [disabled]="submitLoader">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                          *ngIf="submitLoader"></span>
                        Add Solutions</button>
                      <button type="submit" (click)="changeViewtoEdit()" class="edit-btn"
                        *ngIf="action=='view'">Edit</button>
                      <button type="submit" (click)="update()" class="submit-btn" *ngIf="action=='edit' && !publishbtn"
                        [disabled]="submitLoader">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                          *ngIf="submitLoader"></span> Update Solutions</button>
                      <button (click)="goBack()" class="discard-btn" data-dismiss="modal" aria-label="Close"
                        style="margin-left: 20px;">Discard</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
