<div class="card rounded-0 fixed-row">
  <div class="card-body ">
    <div class="row">
      <div class="text-center">
        <div class="card  h-100 d-flex align-items-center justify-content-center">
         <div class="card-body">
           <h2 class="card-text">Welcome To Rubix Live web site</h2>
         </div>
        </div>
       </div>
      <div class="col-lg-12 col-sm-12 d-flex justify-content-lg-end align-items-start mt-3 mt-lg-0">
        <button (click)="navigateToAddPage()" class="submit-btn float-right">New User</button>
      </div>
    </div>
  </div>
</div>
<div class="row container-fluid movable-content">
  <div class="filterContainer">
  </div>
  <div class="col-sm-12  tab_align">
    <div class="card-body table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S.No </th>
          <td mat-cell *matCellDef="let element let i = index">{{ getSerialNumber(i) }} </td>
        </ng-container>
        <ng-container matColumnDef="Email Id">
          <th mat-header-cell *matHeaderCellDef> Email Id </th>
          <td mat-cell *matCellDef="let element">{{element.emailId}}</td>
        </ng-container>
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="productCode">
          <th mat-header-cell *matHeaderCellDef> Product Code </th>
          <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
        </ng-container>
        <ng-container matColumnDef="verified">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Status</th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            <div *ngIf="element.status=='Active'">
              <img matTooltip="Active"
                src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/userActive.png" alt="">
            </div>
            <div *ngIf="element.status==null ||element.status=='InActive'">
              <img matTooltip="InActive"
                src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/userInactive.png" alt="">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex ">
              <div matTooltip="Edit" style="margin-left: 3px;cursor: pointer;" (click)="editItem(element.userId)">
                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/editIcon.png" alt="">
              </div>

            </div>
          </td>
        </ng-container>
        <tr style="background-color: #F3F4F5;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator ></mat-paginator>
  </div>
</div>