.modal-header .close {
    margin: -1rem -0.5rem -1rem auto;
}

label {
    font-weight: 500;
    size: 20px;
    line-height: 30px;
}

.drag_text {
    font-size: 12px;
    margin-top: 16px;
    color: #8B8B8B;
}

path {
    color: #8B8B8B;
}

.upload_label {
    line-height: 8px !important;
    margin-bottom: 0px !important;
}

.upload_hide {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.choose_file {
    pointer-events: none;
    font-size: 12px;
    color: #8B8B8B;
}

.choose_file>a {
    text-decoration: underline;
    color: black;
}

image>img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
}

@media only screen and (max-width: 420px) {
    .btn-box {
        margin-left: 20px;
    }

    .btn-dis {
        margin-left: 0px !important;
        margin-top: 5px;
    }
}

svg {
    opacity: 0.1;
    height: 100px;
}

@media only screen and (min-width: 1200px) {
    .vendor_card {
        margin-top: -104px;
    }
}

.drag-area {
    border: 1px dashed black;
    border-radius: 5px;
    height: 163.2px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.drag-area .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 162.3px;
    width: 300px;
}

.placeholder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drag-area .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.drag-area .m-5 {
    text-align: center;
    padding-top: 20px;
    color: #555;
}

.drag-area .m-5 img {
    max-width: 30px;
    max-height: 30px;
}

.drag-area .drag_text {
    font-size: 10px;
    margin-top: 10px;
}

.drag-area .choose_file a {
    color: #007bff;
    text-decoration: none;
}

.upload_hide {
    display: none;
}

.img-disable[_ngcontent-ng-c4106703240] {
    color: #6c757d;
    background-color: #e9ecef;
    cursor: not-allowed;
}

.image {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.image:hover .overlay {
    display: block;
}

textarea:disabled,
.mat-mdc-select.mat-mdc-select-disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
}

.is-invalid-textArea {
    border-color: #dc3545 !important;
}

.drag-area-img {
    border: 1px dashed #ea140e !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
