.modal-header .close {
  margin: -1rem -0.5rem -1rem auto;
}

.input-group {
  position: relative;
}

.invalid-feedback {
  color: #000000;
  display: block;
}

.input-group .input-group-text {
  background-color: #ffffff;
  border-right: 0;
}

.input-group input {
  padding-left: 0.5rem;
}

label {
  font-weight: 500;
  size: 20px;
}

path {
  color: #8B8B8B;
}

.upload_label {
  line-height: 8px !important;
  margin-bottom: 0px !important;
}

.upload_hide {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.drag-area {
  border: 1px dashed black;
  border-radius: 5px;
  height: 180px;
  width: 180px;
  position: relative;
  overflow: hidden;
}

.drag-area .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 162.3px;
  width: 300px;
}

.drag-area .m-5 {
  text-align: center;
  padding-top: 10px;
  color: #555;
}

.drag-area .m-5 img {
  max-width: 30px;
  max-height: 30px;
}

.img-disable[_ngcontent-ng-c4106703240] {
  color: #6c757d;
  background-color: #e9ecef;
  cursor: not-allowed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.drag-area-img {
  border: 1px dashed #000000 !important;
}

.drag-area .drag_text {
  font-size: 10px;
  margin-top: 10px;
}

.drag-area .choose_file a {
  color: #007bff;
  text-decoration: none;
}

.upload_hide {
  display: none;
}

.choose_file {
  pointer-events: none;
  font-size: 12px;
  color: #8B8B8B;
}

.choose_file>a {
  text-decoration: underline;
  color: black;
}

image>img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
}

.image {
  width: 200px;
  height: 168px;
  overflow: hidden;
  border-radius: 0%;
}

@media only screen and (max-width: 420px) {

  .btn-dis {
    margin-left: 0px !important;
    margin-top: 5px;
  }
}

svg {
  opacity: 0.1;
  height: 100px;
}

.drag_text {
  font-size: 12px;
  margin-top: 16px;
  color: #8B8B8B;
}


@media only screen and (min-width: 1200px) {
  .vendor_card {
    margin-top: -104px;
  }
}

.card {
  border-radius: 0px;
}


.letter {
  background: #000000;
  color: white;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 101px;
}

@media screen and (max-width:992px) {

  .btn-box {
    display: flex !important;
    flex-direction: column !important;
  }

}