.addbtn-theme {
  background-color: #D7181F;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 125px;
}

.client-div-bg {
  background-color: #FBF1EE;
}

.clientdiv-address-div {
  margin: 15px 20px 0px 20px;
}

.clientdiv-active-div {
  margin: 17px 20px 21px 20px;
}

.card {
  border-radius: 0px;
  box-shadow: none !important;
}

.input-group {
  position: relative;
}

.input-group .input-group-text {
  background-color: #ffffff;
  border-right: 0;
}

.input-group input {
  padding-left: 0.5rem;
}