<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<div [formGroup]="customEditorsForm">
    <div formArrayName="customEditorsDTOs" class="editor-content">
        <div *ngIf="isEditorDataLoad;else showEditor" class="d-flex justify-content-center p-5">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <ng-template #showEditor>
            <div *ngIf="isEditor;else preview_content" class="min-vh-50">
                <div *ngFor="let editor of customEditorsDTOs.controls; let i=index" [formGroupName]="i">
                    <div class="row mr-2">
                        <div class="col-6">
                            <div *ngIf="customEditorsArrField(i,'templateSection')?.value != customEditorEnum.TextArea">
                                <div class="row p-3">
                                    <div class="row border mx-auto">
                                        <div *ngIf="customEditorsArrField(i,'templateSection')?.value != customEditorEnum.Image"
                                            class="col d-flex align-items-center justify-content-center p-2">
                                            <div class="text-center">
                                                <p class="font-weight-bold">Template</p>
                                                <div class="d-flex justify-content-center mobilecolumns">
                                                    <button class="mx-3 border p-1 cursor-pointer"
                                                        [ngClass]="{'active-button': customEditorsArrField(i,'inputFieldPartitionRatio')?.value == customEditorFieldPartitions?.HalfOfQuater}"
                                                        (click)="setinputFieldPartitionRatio(i,customEditorFieldPartitions.HalfOfQuater)"
                                                        [disabled]="isView">70:30</button>
                                                    <button class="mx-3 border p-1 cursor-pointer"
                                                        [ngClass]="{'active-button': customEditorsArrField(i,'inputFieldPartitionRatio')?.value == customEditorFieldPartitions?.HalfPartitions}"
                                                        (click)="setinputFieldPartitionRatio(i,customEditorFieldPartitions.HalfPartitions)"
                                                        [disabled]="isView">50:50</button>
                                                    <button class="mx-3 border p-1 cursor-pointer"
                                                        [ngClass]="{'active-button': customEditorsArrField(i,'inputFieldPartitionRatio')?.value == customEditorFieldPartitions?.FirstQuater}"
                                                        (click)="setinputFieldPartitionRatio(i,customEditorFieldPartitions.FirstQuater)"
                                                        [disabled]="isView">30:70</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex align-items-center justify-content-center p-2">
                                            <div class="text-center">
                                                <p class="font-weight-bold">Image</p>
                                                <div class="d-flex justify-content-center">
                                                    <i class="cursor-pointer" [matTooltip]="tooltipContent[1]"
                                                        [ngClass]="{'fa fa-align-left mx-3':true,
                            'active-icon':customEditorsArrField(i,'imgAlignment')?.value == customEditorImgAlignment?.Left}"
                                                        aria-hidden="true"
                                                        (click)="setEditorInputFieldStyle(i,'imgAlignment',customEditorImgAlignment?.Left)"></i>
                                                    <i class="cursor-pointer" [matTooltip]="tooltipContent[2]"
                                                        [ngClass]="{'fa fa-align-center mx-3':true,
                            'active-icon':customEditorsArrField(i,'imgAlignment')?.value == customEditorImgAlignment?.Center}"
                                                        aria-hidden="true"
                                                        (click)="setEditorInputFieldStyle(i,'imgAlignment',customEditorImgAlignment?.Center)"></i>
                                                    <i class="cursor-pointer" [matTooltip]="tooltipContent[0]"
                                                        [ngClass]="{'fa fa-align-right mx-3':true,
                            'active-icon':customEditorsArrField(i,'imgAlignment')?.value == customEditorImgAlignment?.Right}"
                                                        aria-hidden="true"
                                                        (click)="setEditorInputFieldStyle(i,'imgAlignment',customEditorImgAlignment?.Right)"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end custom-editor-btnGroup">
                                <div class="btn-group dropleft">
                                    <i id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" class="fa custom-editor-icons"
                                        [ngClass]="{'i-disabled': isView}">&#xf067;</i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p class="dropdown-item" (click)="addCustomEditors(customEditorEnum?.TextArea)">
                                            Add Text</p>
                                        <p class="dropdown-item"
                                            (click)="addCustomEditors(customEditorEnum?.RightSideImg)">Add Text
                                            and Image</p>
                                        <p class="dropdown-item"
                                            (click)="addCustomEditors(customEditorEnum?.LeftSideImg)">Add Image
                                            and Text</p>
                                        <p class="dropdown-item" (click)="addCustomEditors(customEditorEnum?.Image)">Add
                                            Image</p>
                                    </div>
                                </div>
                                <i class="fa custom-editor-icons" [ngClass]="{'i-disabled': isView}"
                                    (click)="isView ? null : removeCustomEditor(i)">&#xf014;</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row "
                            *ngIf="customEditorsArrField(i,'templateSection')?.value == customEditorEnum.LeftSideImg">
                            <div class="col-4 p-4">
                                <div class="form-group p-2 d-flex justify-content-center">
                                    <div [ngClass]="{'drag-area': true,'disable-imgDrag':isView}"
                                        (click)="showImgEditorPopup(i,'leftSideImage')">
                                        <label for="side_img_{{i}}" class="upload_label mb-0">
                                            <div class="image">
                                                <img class="w-100 h-90" [src]="getCustomEditorImg(i,'leftSideImage')"
                                                    *ngIf="getCustomEditorImg(i,'leftSideImage')!=null">
                                                <div class="overlay"
                                                    *ngIf="getCustomEditorImg(i,'leftSideImage')!=null">
                                                </div>
                                            </div>
                                            <div *ngIf="getCustomEditorImg(i,'leftSideImage')==null" class="m-5">
                                                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                                                    alt="">
                                                <p class="choose_file"> <a> <br>Click to browse</a> </p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <div class="editor p-2">
                                        <angular-editor #editor formControlName="content" [config]="config"
                                            appRichTextClipboard></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mobiledisplayy"
                            *ngIf="customEditorsArrField(i,'templateSection')?.value == customEditorEnum.RightSideImg">
                            <div class="col-lg-8 col">
                                <div class="form-group">
                                    <div class="editor p-2">
                                        <angular-editor #editor formControlName="content" [config]="config"
                                            appRichTextClipboard></angular-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col p-4">
                                <div class="form-group p-2 d-flex justify-content-center">
                                    <div [ngClass]="{'drag-area': true,'disable-imgDrag':isView}"
                                        (click)="showImgEditorPopup(i,'rightSideImage')">
                                        <label for="side_img_{{i}}" class="upload_label mb-0">
                                            <div class="image">
                                                <img class="w-100 h-90" [src]="getCustomEditorImg(i,'rightSideImage')"
                                                    *ngIf="getCustomEditorImg(i,'rightSideImage')!=null">
                                                <div class="overlay"
                                                    *ngIf="getCustomEditorImg(i,'rightSideImage')!=null">
                                                </div>
                                            </div>
                                            <div *ngIf="getCustomEditorImg(i,'rightSideImage')==null" class="m-5">
                                                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                                                    alt="">
                                                <p class="choose_file"> <a> <br>Click to browse</a> </p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row "
                            *ngIf="customEditorsArrField(i,'templateSection')?.value == customEditorEnum.TextArea">
                            <div class="col">
                                <div class="form-group">
                                    <div class="editor p-2">
                                        <angular-editor #editor formControlName="content" [config]="config"
                                            appRichTextClipboard></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf="customEditorsArrField(i,'templateSection')?.value == customEditorEnum.Image">
                            <div class="col p-4">
                                <div class="form-group p-2 d-flex justify-content-center">
                                    <div [ngClass]="{'drag-area': true,'disable-imgDrag':isView}"
                                        (click)="showImgEditorPopup(i,'bottomImage')">
                                        <label for="side_img_{{i}}" class="upload_label mb-0">
                                            <div class="image">
                                                <img class="w-100 h-90" [src]="getCustomEditorImg(i,'bottomImage')"
                                                    *ngIf="getCustomEditorImg(i,'bottomImage')!=null">
                                                <div class="overlay" *ngIf="getCustomEditorImg(i,'bottomImage')!=null">
                                                </div>
                                            </div>
                                            <div *ngIf="getCustomEditorImg(i,'bottomImage')==null" class="m-5">
                                                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                                                    alt="">
                                                <p class="choose_file"> <a> <br>Click to browse</a> </p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #preview_content>
                <div id="previewContent" #previewContent class="min-vh-50">
                    <div class="previewContent" *ngFor="let editor of customEditorsDTOs.controls; let j=index">
                        <div class="p-2" [formGroupName]="j">
                            <div class="row"
                                *ngIf="customEditorsArrField(j,'templateSection')?.value === customEditorEnum.LeftSideImg">
                                <div [ngClass]="{
                    'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfPartitions,
                    'col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfOfQuater,
                    'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.FirstQuater,
                    'text-left': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Left,
                    'text-right': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Right,
                    'text-center': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Center
                  }">
                                    <img *ngIf="getCustomEditorImg(j,'leftSideImage') !== null"
                                        [src]="editor.get('leftSideImage').value" [ngStyle]="{ 'width.px': imgCustomWidth(customEditorsArrField(j,'imgCustomSize')?.value), 
                      'height.px': imgCustomHeight(customEditorsArrField(j,'imgCustomSize')?.value) }"
                                        class="img-fluid" [ngClass]="{
                           'img-thumbnail': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Thumbnail,
                           'rounded': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Rounded
                         }" />
                                </div>

                                <div [ngClass]="{
                    'col-12 col-sm-12  col-md-6 col-lg-6 col-xl-6': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfPartitions,
                    'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfOfQuater,
                    'col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.FirstQuater
                  }">
                                    <div *ngIf="editor.get('content').value !== null">
                                        <div class="text-wrap">
                                            <div [innerHTML]="getSanitizedContent(editor.get('content').value)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="customEditorsArrField(j,'templateSection')?.value === customEditorEnum.RightSideImg">
                                <div [ngClass]="{
                    'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfPartitions,
                    'col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfOfQuater,
                    'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.FirstQuater
                  }">
                                    <div *ngIf="editor.get('content').value !== null">
                                        <div class="text-wrap">
                                            <div [innerHTML]="getSanitizedContent(editor.get('content').value)"></div>
                                        </div>
                                    </div>
                                </div>

                                <div id="imageDiv" [ngClass]="{
                    'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfPartitions,
                    'col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.HalfOfQuater,
                    'col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8': customEditorsArrField(j,'inputFieldPartitionRatio')?.value === customEditorFieldPartitions.FirstQuater,
                    'text-left': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Left,
                    'text-right': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Right,
                    'text-center': customEditorsArrField(j,'imgAlignment')?.value === customEditorImgAlignment?.Center
                  }">
                                    <img *ngIf="getCustomEditorImg(j,'rightSideImage') !== null"
                                        [src]="editor.get('rightSideImage').value" [ngStyle]="{ 'width.px': imgCustomWidth(customEditorsArrField(j,'imgCustomSize')?.value), 
                      'height.px': imgCustomHeight(customEditorsArrField(j,'imgCustomSize')?.value) }"
                                        class="img-fluid" [ngClass]="{
                           'img-thumbnail': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Thumbnail,
                           'rounded': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Rounded
                         }" />
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="customEditorsArrField(j,'templateSection')?.value === customEditorEnum.TextArea">
                                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div *ngIf="editor.get('content').value !== null">
                                        <div class="text-wrap">
                                            <div [innerHTML]="getSanitizedContent(editor.get('content').value)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="customEditorsArrField(j,'templateSection')?.value === customEditorEnum.Image">
                                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <img *ngIf="getCustomEditorImg(j,'bottomImage') !== null" class="img-fluid"
                                        [src]="editor.get('bottomImage').value" [ngStyle]="{ 'width.px': imgCustomWidth(customEditorsArrField(j,'imgCustomSize')?.value), 
                      'height.px': imgCustomHeight(customEditorsArrField(j,'imgCustomSize')?.value) }"
                                        class="img-fluid" [ngClass]="{
                           'img-thumbnail': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Thumbnail,
                           'rounded': customEditorsArrField(j,'imgFitPosition')?.value === customEditorImgResponsive?.Rounded
                         }" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div class="container" *ngIf="isEditor && !isPreview">
        <div class="row p-2 mobileDesign" style="border-bottom:0px;">
            <div class="col-3">
                <button type="button" class="btn btn-light fixed-size-btn"
                    (click)="addCustomEditors(customEditorEnum?.TextArea)" [disabled]="isView">Add Text</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-light fixed-size-btn"
                    (click)="addCustomEditors(customEditorEnum?.RightSideImg)" [disabled]="isView">Add Text and
                    Image</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-light fixed-size-btn"
                    (click)="addCustomEditors(customEditorEnum?.LeftSideImg)" [disabled]="isView">Add Image and
                    Text</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-light fixed-size-btn"
                    (click)="addCustomEditors(customEditorEnum?.Image)" [disabled]="isView">Add Image</button>
            </div>
        </div>
    </div>
    <div class="row p-2" style="border-bottom:0px;">
        <div class="col-12 button-wrapper">
            <button type="button" *ngIf="isEditor" class="btn btn-success" (click)="changePreview()"
                [disabled]="isView">Confirm</button>
            <button type="button" *ngIf="isPreview" class="btn btn-light" (click)="chageEditor()"
                [disabled]="isView">Edit</button>
        </div>
    </div>
</div>