.fixTableHead {
  overflow-y: auto;
  height: calc(70vh - 100px);
}

.fixTableHead table {
  width: 100%;
  border-collapse: collapse;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
  background-color: #F3F4F5;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fixTableHead tbody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fixTableHead tbody tr td {
  background-color: white;
}

td,
th {
  font-size: small;
}

thead {
  height: 75px;
}

.empty-data {
  height: calc(50vh - 100px);
}