<div class="fixTableHead">
	<table>
		<thead>
			<tr class="h-7">
				<th scope="col" *ngFor="let header of headers">{{ header }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of participantsList; let i = index">
				<td>{{ i + 1 }}</td>
				<td>{{ participantFullName(item?.name, item.surname) }}</td>
				<td>{{ item?.emailAddress }}</td>
				<td>{{ item?.telephoneNumber }}</td>
				<td>{{ item?.companyName }}</td>
				<td>{{ item?.jobTitle }}</td>
				<td>{{ item?.departmentName }}</td>
				<td>
					<div *ngIf="item?.eventDateTime; else noDateTime">
						<p style="font-size: 12px;">{{item?.eventDateTime?.eventDate | date: 'dd-MM-yyyy'}}</p>
						{{convertMinFormat(item?.eventDateTime?.eventFromTime)}} to
						{{convertMinFormat(item?.eventDateTime?.eventToTime)}}
					</div>
					<ng-template #noDateTime>
						<p>--</p>
					</ng-template>
				</td>
				<td>{{ item?.registeredDate | date:'dd-MM-yyyy' }}</td>
			</tr>
			<tr *ngIf="!participantsList || participantsList.length === 0" class="empty-data">
				<td colspan="9" class="border-0 text-center">No Data</td>
			</tr>
		</tbody>
	</table>
</div>