<div class="card rounded-0 fixed-row">
  <div class="card-body ">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="pb-2 path">
          Clients > List of Clients
        </div>
        <h2>List of Clients </h2>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex justify-content-lg-end align-items-start mt-3 mt-lg-0">
        <button (click)="navigateToAddEvent()" class="submit-btn float-right">+ New </button>
      </div>
    </div>
  </div>
</div>
<div class="row container-fluid movable-content mt-2">
  <div class="filterContainer">
    <div class="filter-row d-flex">
      <div class=" text-center">
        <button class="btn btn-selected btn-transparent" (click)="filterByStatus('All')"
          [ngClass]="{'btn-selected': selectedFilter === 'All'}" (click)="setSelectedFilter('All')"
          (click)="resetFilter()">All</button>
      </div>
      <div class=" text-center mb-2">
        <button class="btn btn-transparent pubBtn"
          (click)="filterByStatus('isPublished');setSelectedFilter('isPublished')"
          [ngClass]="{'btn-selected': selectedFilter === 'isPublished'}">Active ({{publishCount}})</button>
      </div>
      <div class=" text-center mb-2">
        <button class="btn btn-transparent" (click)="filterByStatus('UnPublished');setSelectedFilter('UnPublished')"
          [ngClass]="{'btn-selected': selectedFilter === 'UnPublished'}">InActive ({{UnpublishCount}})</button>
      </div>
    </div>
  </div>

  <div class="col-sm-12  tab_align">
    <div class="card-body table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 no-box-shadow">
        <ng-container matColumnDef="sNo">
          <th mat-header-cell *matHeaderCellDef>S.No </th>
          <td mat-cell *matCellDef="let element; let i=index">{{ getSerialNumber(i) }} </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef> Client Name </th>
          <td mat-cell *matCellDef="let element" class="truncate-text">
            {{element.clientName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="contactPerson">
          <th mat-header-cell *matHeaderCellDef> Contact Person </th>
          <td mat-cell *matCellDef="let element" class="truncate-text">{{element.contactPerson}}</td>
        </ng-container>
        <ng-container matColumnDef="emailId">
          <th mat-header-cell *matHeaderCellDef> Mail Id </th>
          <td mat-cell *matCellDef="let element" class="truncate-text"> {{element.emailId}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Status</th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            <div *ngIf="element.status=='true'">
              <button class="active-status" matTooltip="Active">Active</button>
            </div>
            <div *ngIf="element.status=='false'">
              <button class="in-active-status" matTooltip="InActive">InActive</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex">
              <div matTooltip="View" (click)="viewAction(element.clientId)" style="cursor: pointer;">
                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (2).jpg">
              </div>
              <div matTooltip="Edit" (click)="editAction(element.clientId)" style="margin-left: 13px;cursor: pointer;">
                <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/editIcon.png">
              </div>
            </div>
          </td>
        </ng-container>
        <tr style="background-color: #F3F4F5;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <div *ngIf="dataSource">
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </div>
      </table>
      <div *ngIf="!dataSource" class="w-100 d-flex justify-content-center no-data">
        <tr>
          <td colspan="8" class="text-right pt-4">
            <p class="font-weight-light">No Data</p>
          </td>
        </tr>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<br>