<form [formGroup]="eventForm">
  <div class="card rounded-0 fixed-row">
    <div class="card-body ">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="pb-2 path" *ngIf="!isView && !isEdit">
            Events > &nbsp;<span class="path-link" (click)="navigateToEvents()"> List of Events </span> >
            Add Event
          </div>
          <div class="pb-2 path" *ngIf="isView">
            Events > &nbsp;<span class="path-link" (click)="navigateToEvents()"> List of Events</span> >
            View Event
          </div>
          <div class="pb-2 path" *ngIf="isEdit">
            Events > &nbsp;<span class="path-link" (click)="navigateToEvents()"> List of Events</span> >
            Edit Event
          </div>
          <div>
            <h2 *ngIf="!isView && !isEdit">Add Event</h2>
            <h2 *ngIf="isView">View Event</h2>
            <h2 *ngIf="isEdit">Edit Event</h2>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex justify-content-lg-end align-items-start mt-3 mt-lg-0">
          <div class="btn-toolbar flex-column flex-md-row" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mb-2 mb-md-0 mr-md-2" role="group" aria-label="First group">
              <button type="button" *ngIf="isAdd" class="submit-btn position-relative" (click)="onSubmit()"
                [disabled]="submit">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submit"></span>
                Add Event
              </button>
              <button type="button" class="edit-btn" *ngIf="isView" (click)="changeViewtoEdit()">Edit</button>
              <button type="button" *ngIf="isEdit" class="submit-btn position-relative" (click)="updateEvent()"
                [disabled]="update">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="update"></span>
                Update
              </button>
            </div>
            <div class="btn-group mb-2 mb-md-0" role="group" aria-label="Second group">
              <div *ngIf="isAdd || isEdit;else back_button">
                <button type="button" class="discard-btn" (click)="discardForm()">Discard</button>
              </div>
              <ng-template #back_button>
                <button type="button" class="discard-btn" (click)="navigateToEvents()">Back</button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid movable-content mx-auto col-Mobilepadding">
    <div formGroupName="eventDetails">
      <div class="row">
        <div class="col col-Mobilepadding">
          <div class="card  pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Events & Seminar Details</h5>
            <div class="card-body border">
              <div class="form-group">
                <label class="form-label">Type <span class="text-danger">*</span></label>
                <select class="form-select" formControlName="eventFormEventType" style="height: 50px;" #eventType
                  (change)="eventTypeSelect(eventType.value)" [class.is-invalid]="isInValidField('eventFormEventType')">
                  <option value="0" selected disabled>Select</option>
                  <option *ngFor="let event of eventTypeOptions" [value]="event.eventTypeId">
                    {{ event.eventTypeName }}
                  </option>
                </select>
                <div
                  *ngIf="(eventFormField('eventFormEventType')?.touched || eventFormField('eventFormEventType')?.dirty) && isInValidField('eventFormEventType')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFormEventType')?.errors?.['required']">
                    Type is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Event Name <span class="text-danger">*</span></label>
                <textarea class="form-control" rows="2" formControlName="eventFormEventName" #eventName
                  (input)="seteventNameToFg(eventName.value)" required
                  [class.is-invalid]="isInValidField('eventFormEventName')"></textarea>
                <div *ngIf="isInValidField('eventFormEventName')" class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFormEventName')?.errors?.['required']">
                    Event Name is required
                  </div>
                  <div *ngIf="eventFormField('eventFormEventName')?.errors?.['maxlength']">
                    Event Name cannot exceed 250 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label d-flex justify-content-between align-items-center moibleRow">
                  <span>Short Description <span class="text-danger">*</span></span>
                  <span class="text-end">{{ shortDesc.value.length }} / {{ inputTextMaxLength }}</span>
                </label>
                <textarea class="form-control" rows="3" #shortDesc formControlName="eventFormeventShortDesc"
                  (input)="seteventShortDescToFg(shortDesc.value)" required [minlength]="inputTextMinLength"
                  [maxlength]="inputTextMaxLength"
                  [class.is-invalid]="isInValidField('eventFormeventShortDesc')"></textarea>
                <div
                  *ngIf="(eventFormField('eventFormeventShortDesc')?.touched || eventFormField('eventFormeventShortDesc')?.dirty) && isInValidField('eventFormeventShortDesc')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFormeventShortDesc')?.errors?.['required']">
                    Event Short Desc is required
                  </div>
                  <div *ngIf="eventFormField('eventFormeventShortDesc')?.errors?.['maxlength']">
                    Event Short Desc cannot exceed {{ inputTextMaxLength }} characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Organizer <span class="text-danger">*</span></label>
                <textarea class="form-control" rows="2" formControlName="organizer"
                  [class.is-invalid]="isInValidField('organizer')"></textarea>
                <div *ngIf="isInValidField('organizer')" class="invalid-feedback">
                  <div *ngIf="eventFormField('organizer')?.errors?.['required']">
                    Organizer is required
                  </div>
                  <div *ngIf="eventFormField('organizer')?.errors?.['maxlength']">
                    Organizer cannot exceed 100 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Other information's</h5>
            <div class="card-body border">
              <h5 class="card-title"></h5>
              <div class="form-group">
                <label class="form-label mt-2">Subject <span class="text-danger">*</span></label>
                <textarea class="form-control" rows="4" formControlName="title"
                  [class.is-invalid]="isInValidField('title')"></textarea>
                <div *ngIf="isInValidField('title')" class="invalid-feedback">
                  <div *ngIf="eventFormField('title')?.errors?.['required']">
                    Subject is required
                  </div>
                  <div *ngIf="eventFormField('title')?.errors?.['maxlength']">
                    Subject cannot exceed 250 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label mt-2">Content <span class="text-danger">*</span></label>
                <textarea class="form-control" rows="4" formControlName="contents"
                  [class.is-invalid]="isInValidField('contents')"></textarea>
                <div *ngIf="isInValidField('contents')" class="invalid-feedback">
                  <div *ngIf="eventFormField('contents')?.errors?.['required']">
                    Content is required
                  </div>
                  <div *ngIf="eventFormField('contents')?.errors?.['maxlength']">
                    Content cannot exceed 250 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label mt-2">Sponsored by <span class="text-danger">*</span></label>
                <input type="text" class="form-control custom-input-field" formControlName="sponsorship"
                  [class.is-invalid]="isInValidField('sponsorship')">
                <div *ngIf="isInValidField('sponsorship')" class="invalid-feedback">
                  <div *ngIf="eventFormField('sponsorship')?.errors?.['required']">
                    Sponsored by is required
                  </div>
                  <div *ngIf="eventFormField('sponsorship')?.errors?.['maxlength']">
                    Sponsored by cannot exceed 100 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="presenterDetails" class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Presenter Details</h5>
            <div class="card-body border">
              <div class="form-group">
                <label class="form-label">Teacher Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="teacherName"
                  [class.is-invalid]="isInValidField('presenterDetails.teacherName')">
                <div
                  *ngIf="isInValidField('presenterDetails.teacherName') && (eventFormField('presenterDetails.teacherName')?.touched || eventFormField('presenterDetails.teacherName')?.dirty)"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('presenterDetails.teacherName')?.errors?.['required']">
                    Teacher Name is required
                  </div>
                  <div *ngIf="eventFormField('presenterDetails.teacherName')?.errors?.['maxlength']">
                    Teacher Name cannot exceed 50 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Department <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="department"
                  [class.is-invalid]="isInValidField('presenterDetails.department')">
                <div
                  *ngIf="(eventFormField('presenterDetails.department')?.touched || eventFormField('presenterDetails.department')?.dirty) && isInValidField('presenterDetails.department')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('presenterDetails.department')?.errors?.['required']">
                    Department is required
                  </div>
                  <div *ngIf="eventFormField('presenterDetails.department')?.errors?.['maxlength']">
                    Department cannot exceed 50 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Designation <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="designation"
                  [class.is-invalid]="isInValidField('presenterDetails.designation')">
                <div
                  *ngIf="(eventFormField('presenterDetails.designation')?.touched || eventFormField('presenterDetails.designation')?.dirty) && isInValidField('presenterDetails.designation')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('presenterDetails.designation')?.errors?.['required']">
                    Designation is required
                  </div>
                  <div *ngIf="eventFormField('presenterDetails.designation')?.errors?.['maxlength']">
                    Designation cannot exceed 50 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Skills <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="skills"
                  [class.is-invalid]="isInValidField('presenterDetails.skills')">
                <div
                  *ngIf="(eventFormField('presenterDetails.skills')?.touched || eventFormField('presenterDetails.skills')?.dirty) && isInValidField('presenterDetails.skills')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('presenterDetails.skills')?.errors?.['required']">
                    Skills is required
                  </div>
                  <div *ngIf="eventFormField('presenterDetails.skills')?.errors?.['maxlength']">
                    Skills cannot exceed 50 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">About <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="aboutPresenter"
                  [class.is-invalid]="isInValidField('presenterDetails.aboutPresenter')">
                <div
                  *ngIf="(eventFormField('presenterDetails.aboutPresenter')?.touched || eventFormField('presenterDetails.aboutPresenter')?.dirty) && isInValidField('presenterDetails.aboutPresenter')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('presenterDetails.aboutPresenter')?.errors?.['required']">
                    About Presenter is required
                  </div>
                  <div *ngIf="eventFormField('presenterDetails.aboutPresenter')?.errors?.['maxlength']">
                    About Presenter cannot exceed 250 characters
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label class="form-label">Image<span class="text-danger">*</span></label>
                  <div class="d-flex justify-content-center">
                    <div class="drag-area CovImg" style="width: 180px;height: 230px;"
                      [class.is-invalid]="isInValidField('presenterDetails.presenterImage')">
                      <input (change)="fileChangeEventForPresenter($event)" type="file" class="upload_hide"
                        id="upload_mg" [disabled]="isView">
                      <label for="upload_mg" class="upload_label"
                        style="margin-bottom: 0px;width: 180px;height: 230px;">
                        <div class="image" style="width: 180px;height: 230px;">
                          <img class="w-100" [class.img-disable]="isView" [src]="getPresenterImg"
                            *ngIf="getPresenterImg!=null">
                          <div class="overlay" *ngIf="getCoverImg!=null">
                          </div>
                        </div>
                        <div *ngIf="getPresenterImg==null" class="m-5">
                          <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                            alt="">
                          <p class="choose_file"><a><br>Click to browse</a> </p>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <ng-template #cropperModalForPresenter let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Crop Image</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="cropper-container">
                      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="180/230" format="png" (imageCropped)="onImageCropped($event)"
                        (cropperReady)="onCropperReady()" (loadImageFailed)="onLoadImageFailed()">
                      </image-cropper>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      (click)="modal.dismiss('cancel click')">Cancel</button>
                    <button type="button" class="btn btn-primary"
                      (click)="confirmCrop2(modal,'eventDetails.presenterDetails.presenterImage')">Crop &
                      Save</button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-Mobilepadding">
          <div class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title mt-1">Cover Image <span class="text-danger">*</span></h5>
            <div class="card-body">
              <div class="cover-img-div">
                <div class="text-center">
                  <div class="drag-area" [class.is-invalid]="isInavalidCoverImg('eventImg')">
                    <input (change)="fileChangeEvent($event)" #fileInput type="file" class="upload_hide"
                      id="upload_coverImg" *ngIf="!isView">
                    <label for="upload_coverImg" class="upload_label">
                      <div class="image" [ngClass]="{'placeholder-content': !eventForm.get('eventImg').value}">
                        <img class="cover-image" [class.img-disable]="isView" [src]="eventForm.get('eventImg').value"
                          *ngIf="eventForm.get('eventImg').value" alt="Selected Cover Image"
                          style="height: 138.2px; width: 160px;">
                        <div class="overlay" *ngIf="eventForm.get('eventImg').value"></div>
                        <div *ngIf="!eventForm.get('eventImg').value" class="m-5">
                          <img src="https://solizecorporateweb.s3.amazonaws.com/admin/asset/images/Vector (3).jpg"
                            alt="Placeholder Image">
                          <p class="choose_file">
                            <a><br><b>Click to browse</b></a>
                          </p>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #cropperModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Crop Image</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="cropper-container">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                  [aspectRatio]="160/ 138.2" format="png" (imageCropped)="onImageCropped($event)"
                  (cropperReady)="onCropperReady()" (loadImageFailed)="onLoadImageFailed()">
                </image-cropper>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
              <button type="button" class="btn btn-primary"
                (click)="confirmCrop(modal,'eventDetails.eventFormEventImg')">Crop &
                Save</button>
            </div>
          </ng-template>
          <div class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Location Details</h5>
            <div class="card-body border p-2">
              <div>
                <div formArrayName="eventDateTimes">
                  <div *ngFor="let item of eventDateandTimeArr.controls; let i = index">
                    <div [formGroupName]="i" class="d-flex align-items-start">
                      <div>
                        <label>Date<span class="text-danger">*</span></label>
                        <input type="date" style="width: 130px; padding: 10px;" (input)="setDate(i, $event)"
                          [attr.min]="minDate" formControlName="eventDateView" class="form-control resForm"
                          (change)="getEventDateTimes(i)" [class.custom-input-invalid]="isInValidEventDateTimesArrField(i, 'eventDateView') || 
                                       hasTimeSlotOverlap(i, 'isTimeSlotOverlap').value || 
                                       hasTimeComparisonError(i)" />
                        <div *ngIf="item.get('eventDateView')?.touched || item.get('eventDateView')?.dirty">
                          <div *ngIf="isInValidEventDateTimesArrField(i, 'eventDateView')">
                            <small class="text-danger">Date is required</small>
                          </div>
                        </div>
                      </div>
                      <div>
                        <label>From<span class="text-danger">*</span></label>
                        <app-customize-timepicker [timeString]="item.get('eventFromTimeView').value"
                          [isViewMode]="isView" [isInputFieldInvalid]="isInValidEventDateTimesArrField(i, 'eventFromTimeView') || 
            hasTimeSlotOverlap(i, 'isTimeSlotOverlap').value || hasTimeComparisonError(i)"
                          (timeChanged)="reciveFromTime($event, i, 'eventFromTimeView')">
                        </app-customize-timepicker>
                        <div *ngIf="item.get('eventFromTimeView')?.touched || item.get('eventFromTimeView')?.dirty">
                          <div *ngIf="item.get('eventFromTimeView')?.hasError('required')">
                            <small class="text-danger">Start time is required</small>
                          </div>
                          <div *ngIf="item.get('eventFromTimeView')?.hasError('invalidTimeFormat')">
                            <small class="text-danger">Invalid time format</small>
                          </div>
                        </div>
                      </div>
                      <div>
                        <label>To<span class="text-danger">*</span></label>
                        <app-customize-timepicker [timeString]="item.get('eventToTimeView').value" [isViewMode]="isView"
                          [isInputFieldInvalid]="isInValidEventDateTimesArrField(i, 'eventToTimeView') || 
            hasTimeSlotOverlap(i, 'isTimeSlotOverlap').value || hasTimeComparisonError(i)"
                          (timeChanged)="reciveToTime($event, i, 'eventToTimeView')">
                        </app-customize-timepicker>
                        <div *ngIf="item.get('eventToTimeView')?.touched || item.get('eventToTimeView')?.dirty">
                          <div *ngIf="item.get('eventToTimeView')?.hasError('required')">
                            <small class="text-danger">End time is required</small>
                          </div>
                          <div *ngIf="item.get('eventToTimeView')?.hasError('invalidTimeFormat')">
                            <small class="text-danger">Invalid time format</small>
                          </div>
                        </div>
                      </div>
                      <div class="eventDateTimes-fields mt-5 d-flex align-items-center">
                        <i class="fa fa-minus-circle" aria-hidden="true" (click)="removeEventDateTime(i)"
                          *ngIf="!isView"></i>&nbsp;
                        <i class="fa fa-plus-circle mr-2" aria-hidden="true" (click)="addEventDateTime()"
                          *ngIf="!isView"></i>
                      </div>
                    </div>

                    <div *ngIf="item.get('isFromToSameTime').value">
                      <small class="text-danger">From and To Time is Same</small>
                    </div>
                    
                    <div *ngIf="hasTimeComparisonError(i); else timeoverlap_block">
                      <small class="text-danger"> To time must be greater than from time</small><br>
                    </div>
                    <ng-template #timeoverlap_block>
                      <div *ngIf="hasTimeSlotOverlap(i, 'isTimeSlotOverlap').value">
                        <small class="text-danger">{{ hasTimeSlotOverlap(i, 'timeSlotOverlapErrMsg').value }}</small>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Venue <span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="2" formControlName="location"
                    [class.is-invalid]="isInValidField('location')"></textarea>
                  <div
                    *ngIf="(eventFormField('location')?.touched || eventFormField('location')?.dirty) && isInValidField('location')"
                    class="invalid-feedback">
                    <div *ngIf="eventFormField('location')?.errors?.['required']">
                      Venue is required
                    </div>
                    <div *ngIf="eventFormField('location')?.errors?.['maxlength']">
                      Venue cannot exceed 100 characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Deadline <span class="text-danger">*</span></label>
                  <input type="date" class="form-control" [attr.min]="minDate" formControlName="deadline"
                    [class.is-invalid]="isInValidField('deadline')" />
                  <div *ngIf="eventFormField('deadline')?.touched || eventFormField('deadline')?.dirty"
                    class="invalid-feedback">
                    <div *ngIf="eventFormField('deadline')?.errors?.['required']">
                      Deadline is required
                    </div>
                    <div *ngIf="eventFormField('deadline')?.errors?.['min']">
                      Deadline must be after {{ minDate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Entry Details</h5>
            <div class="card-body border">
              <div class="form-group">
                <label class="form-label">Entry Fee <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="participationFee"
                  [class.is-invalid]="isInValidField('participationFee')" />
                <div *ngIf="eventFormField('participationFee')?.touched || eventFormField('participationFee')?.dirty"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('participationFee')?.errors?.['required']">
                    Entry fee is required
                  </div>
                  <div *ngIf="eventFormField('participationFee')?.errors?.['pattern']">
                    Enter a valid amount
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Capacity<span class="text-danger">*</span></label>
                <input type="number" [min]="registeredCount" class="form-control" formControlName="capacity" 
                  [class.is-invalid]="isInValidField('capacity')" />
                <div *ngIf="eventFormField('capacity')?.touched || eventFormField('capacity')?.dirty"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('capacity')?.errors?.['required']">
                    Capacity is required
                  </div>
                  <div *ngIf="eventFormField('capacity')?.errors?.['min']">
                    Capacity must be at least {{ registeredCount }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card pl-4 pr-4 pb-3 pt-4">
            <h5 class="card-title pb-2">Inquiry Details</h5>
            <div class="card-body border">
              <div class="form-group">
                <label class="form-label">Company Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" (input)="companyNameSet()"
                  formControlName="eventFromCompanyName" [class.is-invalid]="isInValidField('eventFromCompanyName')" />
                <div
                  *ngIf="(eventFormField('eventFromCompanyName')?.touched || eventFormField('eventFromCompanyName')?.dirty) && isInValidField('eventFromCompanyName')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFromCompanyName')?.errors?.['required']">
                    Company Name is required
                  </div>
                  <div *ngIf="eventFormField('eventFromCompanyName')?.errors?.['maxlength']">
                    Company Name cannot exceed 100 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Department <span class="text-danger">*</span></label>
                <input type="text" class="form-control" (input)="departmentNameSet()"
                  formControlName="eventFromDepartmentName"
                  [class.is-invalid]="isInValidField('eventFromDepartmentName')">
                <div
                  *ngIf="(eventFormField('eventFromDepartmentName')?.touched || eventFormField('eventFromDepartmentName')?.dirty) && isInValidField('eventFromDepartmentName')"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFromDepartmentName')?.errors?.['required']">
                    Department is required
                  </div>
                  <div *ngIf="eventFormField('eventFromDepartmentName')?.errors?.['maxlength']">
                    Department cannot exceed 100 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Phone Number <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">+91</span>
                  <input type="text" id="eventFromTelephoneNumber" class="form-control"
                    formControlName="eventFromTelephoneNumber" maxlength="10" (input)="phoneNoSet()"
                    [class.is-invalid]="isInValidField('eventFromTelephoneNumber')"
                    [attr.aria-invalid]="isInValidField('eventFromTelephoneNumber') ? 'true' : 'false'"
                    [attr.aria-describedby]="isInValidField('eventFromTelephoneNumber') ? 'phoneNumberError' : null">
                  <div *ngIf="isInValidField('eventFromTelephoneNumber')" id="phoneNumberError"
                    class="invalid-feedback">
                    Phone number must be exactly 10 digits.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" (input)="emailSet()" formControlName="eventFromEmailAddress"
                  [class.is-invalid]="isInValidField('eventFromEmailAddress')" />
                <div
                  *ngIf="eventFormField('eventFromEmailAddress')?.touched || eventFormField('eventFromEmailAddress')?.dirty"
                  class="invalid-feedback">
                  <div *ngIf="eventFormField('eventFromEmailAddress')?.errors?.['required']">
                    Email is required
                  </div>
                  <div *ngIf="eventFormField('eventFromEmailAddress')?.errors?.['email']">
                    {{ emailValidationText }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card p-4">
            <div class="form-check checkBox-lable-align">
              <input class="form-check-input" type="checkbox" id="vehicle1" name="check" #publish
                (input)="setisPublishedToFg(publish.checked)" formControlName="eventFormIsPublished">
              <label class="form-check-label" for="flexCheckDefault">
                Is Published
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card  pl-4 pr-4 pb-3 pt-4">
      <h5 class="card-title pb-2">Full Description</h5>
      <div class="card-body border">
        <app-custom-editor [initialData]="customEditorsDTOs" [receiveData]="customEditorsDTOs.value"
          [isEditorDataLoad]="isEditorDataLoad" [isView]="isView"
          (formDataChanged)="handleFormDataChanged($event)"></app-custom-editor>
      </div>
    </div>
  </div>
</form>